<div class="row mt-4">
  <div class="col-md-6">
    <h3>create new event:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">event name:</label>
        <input class="form-input" type="text" id="title" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">event description:</label>
        <textarea class="form-input" id="content" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-date">date of event:</label>

        <input type="date" id="project-date" name="project-date">
      </div>
      <div class="form-group">
        <button type="submit" id="create-btn" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>


<script src="./js/profile.js"></script>
